AUTH_DOMAIN_URL=DB_URL
AUTH_DOMAIN_USERNAME=DB_USERNAME
AUTH_DOMAIN_PASSWORD=DB_PASSWORD
AUTH_DOMAIN_JWT_SECRET=JWT_SECRET
PORT=8080
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest